@model IEnumerable<OWASP.Top10.ViewModels.CommentViewModel>
@{
    ViewBag.Title = "Cross-Site Scripting";
}

<h2>Cross-Site Scripting</h2>

<p>&nbsp;</p>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li>@Html.ActionLink("Basic XSS", "Get", "CrossSiteScripting", new { firstName = "John", email = "john@example.com" }, null) </li>
            <li>@Html.ActionLink("Advanced XSS", "Comments", "CrossSiteScripting") </li>
        </ul>
    </div>
</div>